body, html{
	/* Note that we can use the custom font we loaded */
	font-family: "Aller", Arial, sans-serif;
	font-size: 0.95em;
	line-height: 1.5em;
	background: #660000;
}
h1{
	font-size: 120%;
	font-family: "ChunkFive", "Chunkfive"; /*The second declaration is for Android*/
	margin-bottom: -12px;
}
